@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: appTitleFont;
    src: url(../public/fonts/get_schwifty.ttf);
}

html, body {
    background-color: yellow;
}

#app_title {
    font-family: appTitleFont;
}